html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;
    padding:0;
}
ol,ul {
    list-style: none
}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
a {
 text-decoration:none;
}
/*头部*/
#layout{
	height:30px;
	background:black;
	width:100%;
}
.layoutbox{
	height:30px;
	width:1200px;
	margin:0 auto;
	background:white;
}
.layouLEft{
	float: left;
	width:674px;
	height: 30px;
	line-height: 30px;
	display: flex;
	justify-content: space-around;
}
.layouLEft>li{
	float: left;
}
.layouLEft>li>a{
	color: a4a4a4;
}
.layouRIght{
	float:right;
	width:250px;
	height: 30px;
	line-height: 30px;
	display: flex;
	justify-content: space-around;
}
.layouRIght div{
	display:inline-block;
	width:14px;
	height: 14px;
	background:url(../../httpforhuawei/HTTPhuawei/27day_down/img/icon-common.png) no-repeat 0px 0px;
}
