html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;}
body{
    	font: 12px/1.5 Arial, Helvetica, sans-serif;
    }
a {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
.header{
	width: 100%;
	background: #333;
	height:67px;
}
.header_center{
	width: 960px;
	height: 70px;
	margin: auto;
	padding-top:17px;
}
.LOGO{
	display: inline-block;
	margin-left:4px;
}

.LGname{
	display:inline-block
}
.LGname b{
	margin-left: 18px;
}
/*中间*/

.tbody{
	height: 708px;
	background:#f2f2f2;;
}
#tbody_box{
	height:628px;
	width:960px;
	margin:auto;
	padding-top:30px;
}
.TBheader{
	height:35px;
}
.TBheader>a{
	width:146px;
	height:35px;
	line-height:35px;
	text-align:center;
	font-size: 16px;
	color:#fff;
	display:inline-block;
	position:relative;
}
.TBheader>a>span{
	margin-left:50px;
	width:66px;
	height:35px;
	display:block;
}
.TBheader a:nth-child(1){
	background:#B40707;
	float: left;
	margin-right: 12px;
}
.TBheader a:nth-child(2)
{
	float: left;
background: #b7b7b7;
}
.iconfont{
	font-size:22px;
	position: absolute;
    /*top: 6px;*/
    left: 26px;
    width: 14px;
    height: 17px;
    background:none;
}
.TBheader>span{
	float:right;
	height: 35px;
	text-align:center;
	font-size: 14px;
	line-height: 35px;
	width:125px;
}
.TBheader>span>a{
	background:none!important;
	float:none!important;
	margin-right:0!important;
	color: #007dff;
}
.ar-eg-opposite{
	color: #007dff;
	font-size: 14px;
}
/*表单盒子*/
.TBbody{
width: 960px;
height: 454px;
margin:auto;
background: #FFF;
color: #333;
padding-top:40px;

}
.form{
	width: 420px;
	height: 424px;
	text-align: center;
	margin: auto;
}
.form>div{
	background:#f7f7f7;
}
.selectCountry{
	border-radius: 21px;
	width: 420px;
	height: 42px;
	border:1px solid #d9d9d9;
	    font-size: 14PX;
}
.SCleft{
	width: 122px;
	line-height: 42px;
	text-align: center;
	    border-right: 1px solid #d9d9d9;
	
	/*display:inline-block;*/
}
.SCcenter{
	/*display:inline-block;*/
	line-height: 42px;
	width:180px;
}
.SCright{
	width:25px;
}
.CCR{
	float: left;
}
