html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
}

body {
	font: 12px/1.5 Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
em{
	font-style: none;
}

.header {
	width: 100%;
	background: #333;
	height: 67px;
}

.header_center {
	width: 960px;
	height: 70px;
	margin: auto;
	padding-top: 17px;
}

.LOGO {
	display: inline-block;
	margin-left: 4px;
}

.LGname {
	display: inline-block
}

.LGname b {
	margin-left: 18px;
}


/*中间*/

.tbody {
	height: 836px;
	background: #f2f2f2;
	
}

#tbody_box {
	height: 806px;
	width: 960px;
	margin: auto;
	padding-top: 30px;
}

.TBheader {
	height: 35px;
}

.TBheader>a {
	width: 146px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	display: inline-block;
	position: relative;
}

.TBheader>a>span {
	margin-left: 50px;
	width: 66px;
	height: 35px;
	display: block;
}

.TBheader a:nth-child(1) {
	float: left;
	margin-right: 12px;
	background: #b7b7b7;
}

.TBheader a:nth-child(2) {
	float: left;
	background: #B40707;
}

.iconfont {
	font-size: 22px;
	position: absolute;
	/*top: 6px;*/
	left: 26px;
	width: 14px;
	height: 17px;
	background: none;
}

.TBheader>span {
	float: right;
	height: 35px;
	text-align: center;
	font-size: 14px;
	line-height: 35px;
	width: 125px;
}

.TBheader>span>a {
	background: none!important;
	float: none!important;
	margin-right: 0!important;
	color: #007dff;
}

.ar-eg-opposite {
	color: #007dff;
	font-size: 14px;
}


/*表单盒子*/

.TBbody {
	width: 960px;
	height:592px;
	margin: auto;
	background: #FFF;
	color: #333;
	padding-top: 30px;
}

.form {
	width: 420px;
	height: 592px;
	text-align: center;
	margin: auto;
	
	
}
.form>div {
	background: #f7f7f7;
}

.selectCountry {
	position: relative;
}




/*相同css*/

.SCCR {
	border-radius: 21px;
	width: 418px;
	height: 42px;
	border: 1px solid #d9d9d9;
	font-size: 14px;
	margin-top: 10px;
}

.CCR {
	float: left;
}
.SCR{
	width: 12px;
	height: 6px;
	
	
}
/*部分设定*/
.SCleft {
	width: 122px;
	line-height: 42px;
	text-align:justify;
	text-align-last: justify;
	border-right: 1px solid #d9d9d9;
	position:relative;
}
.SCcenter {
	/*display:inline-block;*/
	line-height: 42px;
	width: 295px;
	text-align: left;
}

.SCcenter>span {
	font-size: 15PX;
	margin-left: 16PX;
}

.SCright {
	position: absolute;
	top: 17px;
	right: 16PX;
	background: url(../img/triangle_green.png);
}
/*第二行*/
.SCRRI{
	margin-bottom: 2px;
	display:inline-block;
	margin-left:8px;
	background:url(../img/triangle_gray.png);
}
#phone{
	width:150px;
	height:40px;
	border:none;
	margin-left:18px;
	background: #f7f7f7;
	outline:none;
}
input::-webkit-input-placeholde{
	color:rgb(204, 204, 204);
}
.twoleft{
	width:90px;
	height:42px;
	padding:0 16px;
	
}
.twoleft>span{
	display:inline-block;
	overflow:hidden;
	float:left;
	font-size:14px;
}
.scone{
	margin-top: 30px;
}
.zc{
	    background-color: #B40707;
   width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    color: #fff;
    
    }
.zc:hover{
	    background-color: #B40706;
} 
/*底部的那一条线*/
.last{
	    padding-top: 40px;
    border-bottom: 1px solid #d7d7d7;
    text-align: center;
    background: #f2f2f2;
}
/*足部*/
.TBfooter{
	width: 960px;
	padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    margin: auto;
}
.TBfooter>p{
	line-height: 24px;
    margin: 0 auto;
    font-size: 12px;
    color: #999;
}
.TBfooter>p>a{
	    font-size: 12px;
    color: #999;
        padding: 0 10px;	
}
