html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
	margin: 0;
	padding: 0;
}
ol,
ul {
	list-style: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
a {
	text-decoration: none;
}
body{
	background: #f5f5f5;
	font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif
}
ul,ol,li{
list-style: none;}

em{
font-style: normal;
}
/*顶部*/
/*头部*/

#layout {
	height: 30px;
	background:#fff;
	width: 100%;
}

.layoutbox {
	height: 30px;
	width: 1200px;
	margin: 0 auto;
	background: white;
}

.layouLEft {
	float: left;
	width: 680px;
	height: 30px;
	line-height: 30px;
	/*display: flex;
	justify-content: space-around;*/
}
.layouLEft li{
	float: left;
	position: relative;
}
.layouLEft li a {
	padding: 0 8px;
	float: left;
	color: #a4a4a4;
	font-size: 12px;
}

#onea{
	padding-left: 0
}

.layouLEft li::before {
	content: " ";
	background: #e4e4e4;
	width: 1px;
	height: 10px;
	display: inline-block;
	position: absolute;
	top: 10px;
    	left: 0;
	/*margin-right:2px;*/
}
.APP {
	position: relative;
}

.sanjiao {
	display: inline-block;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid #999;
	margin-bottom: 1px;
}

.APP:hover.sanjiao {
	border-bottom: 6px solid #999;
	border-top: 0;
}
.erwei {
	width: 150px;
	height: 140px;
	position: absolute;
	/*background: #007DFF;*/
	left: -90px;
	/*border: 1px solid #007AD9;*/
}
.erwei {
	text-align: center;
	display: none;
}

.erwei img {
	margin-top: 20px;
}

.APP:hover .erwei {
	display: block;
	background: #fff;
	z-index: 10;
}

.morejc:hover.sanjiao {
	border-bottom: 6px solid #999;
	border-top: 0;
}

.morejc {
	position: relative;
}

.more {
	width: 162px;
	height: 147px;
	border: 1px solid #ededed;
	position: absolute;
	display: none;
	right: 0;
	top: 30px
}

.morejc:hover .more {
	display: block;
	background: #fff;
	z-index: 10;
}

.more>div>dt>a {
	float: none;
	display: block;
	text-align: center;
}

.more div {
	padding: 9px 9px 10px 9px;
}
/*右边*/
.layouRIght {
	float: right;
	width: 250px;
	height: 30px;
	line-height: 30px;
	display: flex;
	justify-content: space-around;
	font-size: 12px;
}
.layouRIght .icon {
	display: inline-block;
	width: 14px;
	height: 14px;
	padding-left: 8px;
	background: url(../img/icon-common.png) no-repeat 0px 0px;
}
.layouRIght li{
	float: left;
	padding: 0 8px;
            position: relative;

}
.layouRIght li a{
        color: #a4a4a4;
}
#landing,#register{
	padding: 0;
}
#register{
	width: 30px;
}
#landing{
	width: 36px;
}
.layouRIght li::before {
    content: "";
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    background: #e4e4e4;
}
.Shopcar{
	position: relative;
}
.shopcar {
	position:absolute;
	width:460px;
	height:230px;
	top: 30px;
    right: 0;
	text-align: center;
	font-size: 14px;
	color: #a4a4a4;
	border: 1px solid #ededed;
	text-align:center;
	display: none;
}
.shopcar>img{
		margin-top:50px
}
.Shopcar:hover .shopcar{
	display: block;
}
/*头部*/
.header{
	height: 70px;
	background: #fff;
}
.headerbox {
	width:1200px;
	margin: 0 auto;
	display: flex;
	justify-content:space-between;
	height:50px;
	padding:10px 0;
	
}
.headerCenter{
	line-height:50px;
	margin-right: 64px;	
	font-size: 16px;
	width:506px;
	display: flex;
	justify-content:space-around;
	position: relative;
}
.headerCenter>a>span{
	color: #3a3a3a;
}
.sousuo{
	width: 330px;
	height:32px;
	margin-top:10px;
}
.sousuo form{
	float: right;
	width: 328px;
	height: 32px;
	    border: 1px solid #ddd;
}	
.sousuo input{
    background: #fff;
    border: 0;
    color: #3a3a3a;
    width: 260px;
    padding-left: 10px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    outline:none;
}
.headerCenter a:hover{
	 color: #ca141d;
	 border-bottom: #ca141d 3px solid;
}
#finden{
	padding-left: 0px;
	width: 30px;
	height: 30px;
	background: url(../img/icon-common.png) no-repeat 0px -21px;
}
#showOfheader{
	width: 1200px;
	height: 260px;
	position: absolute;
	top:60px;
	/*background: #00B5E2;*/
	left: -273px;
	display: none;
}
/*高度盒子*/
.h_10{
height: 10px;
clear: both;
font-size: 1px;
line-height: 1px;
}
/*主体*/
#Tbody{
	height:644px;
	background: #fff;
}
.Tbody_box{
	height: 644px;
	width:1200px;
	margin: auto;
}
.one{
	height:30px;
	width: 1200px;
}
.one>div{
	padding-top: 10px;
	margin-left: 1px;
	color: #333;
}
.one>div>a{
	    color: #666;
    font-family: \5FAE\8F6F\96C5\9ED1,\5B8B\4F53;
}
/*详情*/
.details{
	width: 1200px;
	height: 614px;
}
/*放大镜模块*/
.magnifying{
	width: 450px;
	height: 536px;
	position: relative;
	float: left;
}
.BIG{
	width: 450PX;
	height: 450px;
	position: relative;
    font-size: 0;
    overflow: hidden;
}
.BIG>img{
	max-width: 100%;
    max-height: 100%;
}
.fig{
	position: absolute;
     left: 0;
      top:0;
      width: 150px;
      height: 150px;
      background: rgba(0,0,0,0.1);
      cursor: move;
      display: none;
}
.MAX{
	position: absolute;
      left: 450px;
      top: 0;
      width: 480px;
      height: 480px;
      overflow: hidden;
      border: 1px solid #eee;
      display: none;
}
.MAX img{
	 position: absolute;
      left: 0;
      top: 0;
      /*width: 1080px;*/
}
 .img-box {
 	position: relative;
 	width: 450px;
 	height: 68px;
    margin-top: 18px;

    }
.img-box>li {
      display: inline-block;
      border: 1px solid transparent;
      margin: 3px 0 0 3px;
      width: 60px;
      height: 60px;
      
    }
    .img-box>li img{
      max-width: 100%;
      max-height: 100%;
    }
    .img-box>li:hover,
    .img-box>li.active {
      border: 1px solid #ca141d;
    }
.img-box a{
/*position: absolute;*/
top: 0;
width: 30px;
height: 68px;
cursor: pointer;
display: inline-block;

}
.img-box a:hover::before{
	background: #ECECEC;
}
.img-box a:before{
content: "";
width: 30px;
height: 30px;
display: block;
margin-top: 19px;
border-radius:50%;
background: url("../img/icon50.png") no-repeat -48px -29px;;
}
.img-box a:nth-of-type(2)::before{
	background-position: -79px -29px;
}
/*内容选择模块*/
.shopchoose{
float:right;
width: 700px;
height: 509px;
padding-left: 30px;
padding-bottom: 104px;
}
label{
float: left;
width: 85px;
text-indent: 10px;
line-height: 30px;
}
em{
float: left;
line-height: 18px;
height: 18px;
border: 1px solid #ca141d;
padding: 0 6px;
min-width: 24px;
color: #ca141d;
text-align: center;
margin-right: 10px;
margin-top: 5px;
}
/*第一行*/                                
.headline>h2{
font-size: 21px;
height: 63px;
overflow: hidden;
margin-bottom: 10px;
font-weight: 400;
}
/*第二行*/
.two{
font-size: 14px;
padding-right: 40px;
margin-bottom: 12px;
position: relative;
top: -3px;
line-height: 20px;
}
.two>a{
color: red;
margin-right: 14px;
text-decoration:underline;
}
/*第三行*/
.three{
background: #f5f5f5;
padding-top: 14px;
padding-bottom: 3px;
height: 130px;
margin-bottom:20px ;
}
.money{
height: 30px;
width: 700px;
}
.money>div{
float: left;
height: 30px;
line-height: 30px;
color: #ca141d;
font-size: 24px;
}

.cuxiaoBOX>div{
float: left;
width: 615px;
height: 92px;
}
.cuxiaoBOX>div>li{
height: 30px;
line-height: 30px;
}
.cuxiaoBOX img{
width:30px;
height:30px;
}
.NN{
margin-bottom: 10px;
height: 18px;
}
.NN>label{
height: 18px;
line-height: 18px;
}
.NM{
margin-bottom: 0px;
}
.h_5{
height: 5px;
border-bottom: 1px solid #C0C0C0;
}
.h_16{
height: 16px;
}
.chooseColor{
height: 50px;

}

.chooseColor>label{
height: 40px;
}
.T1>p{
display: inline-block;
border: 1px solid #a4a4a4;
height: 38px;
padding:0 12px;
text-align: center;
line-height: 40px;
    border-radius: 2px;
}
.chooseColor img{
margin-top: 4px;
width: 30px;
height: 30px;
}
.chooseColor span{
    height: 34px;
    line-height: 17px;
    min-width: 0;
    max-width: 86px;
}

/*选择版本*/
.chooselog p,.chooseTC p,.safe P{
    height: 28px;
    line-height: 28px;
}
.chooselog,.chooseTC{
height: 40px;
}
/*保障服务*/
.safe{
line-height: 30px;
height: 30px;
margin-bottom: 10px;
}
/*已购商品*/
.chooseshop{
height: 18px;
line-height: 18px;
}
.chooseshop label{
height: 18px;
}
/*加入购物车*/
.addShopCar{
height: 46px;
margin-top: 10px;
}
.addShopCar>div:nth-child(1){
    float: left;
    border: 1px solid #d6d6d6;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2px;
    width: 65px;
}
.addShopCar input{
	float: left;
    width: 41px;
    height: 44px;
    line-height: 44px;
    border: 0;
    font-size: 18px;
    text-align: center;
    border-right: 1px solid #e2e2e2;
    appearance: none;
}
.addShopCar>div:nth-child(1)>p{
	width: 21px;
	height: 43px;
	float: left;
}
.addShopCar>div:nth-child(1)>p>a{
	display: block;
    font-size: 16px;
    width: 21px;
    height: 21px;
    line-height: 22px;
    text-align: center;
    color: #777;
    font-weight: bold;
}
.addShopCar>div:nth-child(1) a:first-child{
border: 1px solid #e2e2e2;;
}

.addShopCar>div:nth-child(2)>a{
	display: block;
    width: 172px;
    height: 46px;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    float: left;
    background: #fc600c;
    margin-right: 10px;
}
.addShopCar>div:nth-child(2)>a:nth-child(2){
      background: #ca151d;
}
.current{
border: 1px solid #06BD04;
}
